<template>
  <div id="app" class="flex flex-col min-h-screen">
    <Menu />
    <main class="container px-10 pb-6 mx-auto flex-grow"> 
      <router-view />
    </main>
    <Footer />
  </div>
 </template>

<script>

import Menu from '@/components/Menu.vue';
import Footer from '@/components/Footer.vue';

export default {
  components: {
    Menu,
    Footer
  }
};

// This starter template is using Vue 3 experimental <script setup> SFCs
// Check out https://github.com/vuejs/rfcs/blob/master/active-rfcs/0040-script-setup.md
</script>

<style>
#app {
  /* font-family: 'Hack', Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
