<template>
  <div class="pt-6">
    <h1 class="text-4xl">Blog</h1>
    <div class="">
      <PostsList
      />
    </div>
  </div>
</template>

<script>
import PostsList from '@/components/PostsList.vue'
export default {
  components: {
      PostsList,
    }
}
</script>
