<template>
  <div class="pt-6">
    <h1 class="text-4xl">Home page</h1>
    <section class="py-20 flex justify-center space-x-20">
        <img class="border-box max-h-80" src="https://cdn.worldvectorlogo.com/logos/gopher.svg" alt="gopher">
        <img class="border-box max-h-80" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/555px-Vue.js_Logo_2.svg.png" alt="vue">
    </section>
  </div>
</template>
