<template>
  <footer class="bg-gray-100 text-gray-600 body-font">
   <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img class="hidden lg:block h-12 w-auto" src="@/assets/free-icon-study.svg" alt="Workflow">
        <span class="ml-3 text-xl">P-blog</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2021 P-blog —
        <a href="https://github.com/Petrakan" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@Petrakan <fa :icon="['fab', 'github']" class="text-xl ml-1 text-gray-600" /> </a>
      </p>
    </div>
  </footer>
</template>
