<template>

    <div class="pt-6 my-1 px-1 w-full ">
        <div class=" bg-gray-100  mx-auto shadow-lg rounded-lg hover:shadow-xl transition duration-200 max-w-sm">
          <img class="rounded-t-lg" src="https://upload.wikimedia.org/wikipedia/commons/0/05/Go_Logo_Blue.svg" alt="golang" />
          <div class="py-4 px-8">
            <h1 class="flex justify-center hover:cursor-pointer mt-2 text-gray-900 font-bold text-2xl tracking-tight">{{ post.title }}</h1>
            <p class="hover:cursor-pointer py-3 text-gray-600 leading-6">{{ post.content}}</p>
          </div>
          <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 mt-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 mt-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 mt-2">#winter</span>
          </div>
        </div>
      </div>

</template>

<script>
export default {
  props: {
      post: {
          type: Object
        },
    },
}
</script>
