<template>
  <div class="pt-6">
    <h1 class="text-4xl flex justify-center">Posts list:</h1>
    <div class="pt-6 grid gap-6 mb-8 md:grid-cols-2 lg:grid-cols-3">

      <PostItem
      v-for="post in POSTS"
      v-bind:post="post"
      :key="post.ID"
      />

    </div>
  </div>
</template>

<script>
import PostItem from '@/components/PostItem.vue'
import {mapActions, mapGetters} from 'vuex'
export default {
  components: {
      PostItem,
    },
  computed: {
      ...mapGetters([
        'POSTS'
      ]),
    },
  mounted(){
      this.GET_POSTSLIST()
    },
  methods: {
      ...mapActions([
        'GET_POSTSLIST'
      ]),
    }
}
</script>
